#logo {
	float: left;
	padding: 0px;
	margin: 4px 0px 0px 0px;
	width: 100%;
	height: 80px;
}
#logo h1 {
	padding: 0px;
	margin: 27px 0px 0px 0px;
	float: left;
	line-height: 27px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 27px;
	color: #333;
	text-transform: none;
}
#logo h1 i {
	color: #ff8100;
	font-style: normal;
	text-transform: none;
	background: url(../images/logo-icon.png) no-repeat center 9px;
}




/*------------------*/
/*	SITE STRUCTURE
/*------------------------------------------------------*/

.site_wrapper {
	width: 100%;
	margin: -16px auto 0 auto;
}

#page_wrapper_full {
	width: 100%;
	margin: auto auto auto auto;
}
.container_full {
	width: 100%;
	margin: auto auto auto auto;
}
.container {
	width: 75%;
	margin: auto auto auto auto;
}


/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth {
	position: relative;
	margin-right: 3%;
	float: left;
}
.one_full {
	width: 100%;
}
.one_half {
	width: 48.500%;
}
.one_third {
	width: 31.330%;
}
.one_fourth {
	width: 22.750%;
}
.one_fifth {
	width: 17.600%;
}
.two_third {
	width: 65.660%;
}
.three_fourth {
	width: 74.250%;
}

.last {
	margin-right: 0 !important;
	clear: right;
}


/*------------------*/
/*	MENU
/*------------------------------------------------------*/

#access .menu {
	list-style: none;
	font-weight: normal;
	position: relative;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 0px;
}
#access .menu select {
	border: 2px solid #eee;
	padding: 10px 10px 10px 10px;
	background-color: #f9f9f9;
	color: #333;
}
#access .menu ul {
	margin: 0px;
	list-style-type: none;
	position: relative;
	text-align: left;
	z-index: 1001;
	height: 80px;
	margin: 0;
	float: right;
}
#access .menu ul li {
	position: relative;
	display: inline-block;
	padding: 0;
	z-index: 101;
	margin: 0px 0px 0px 1px;
	float: left;
	background: url(../images/menu-divider.png) no-repeat right 31px;
}
#access .menu ul li.last {
	background: none;
}
#access .menu ul li a {
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	line-height: 1;
	color: #333;
	margin: 0;
	padding: 34px 14px 33px 14px;
	text-align: center;
}
#access .menu ul li a:hover {
	color: #ff8100;         
	padding: 34px 14px 33px 14px;
} 
#access .menu ul li a.active {
	color: #ff8100;
	border-radius: 3px;
	padding: 11px 14px 10px 14px;
	margin-top: 24px;
	margin-bottom: 21px;
}

#access .menu ul li ul {
	position: absolute;
	left: 0;
	height: auto;
	display: none;
	visibility: hidden;
	width: 184px;
	padding: 0;
	text-align: left;
	background: #fff;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
#access .menu ul li ul li {
	display: list-item;
	float: none;
	background: none;
	padding: 0;
	margin: 0;
	height: auto;
}
#access .menu ul li ul li ul {
	top: 0;
}
#access .menu ul li ul li a {
	margin: 0;
	border: none;
	display: block;
	padding: 13px 12px 13px 12px;
	font-size: 12px;
	font-weight: 600;
	color: #727272;
	background: #fff url(../images/spacer.gif) no-repeat center bottom;
	width: 159px;
	text-align: left;
	border-bottom: 1px solid #f6f6f6;
}
#access .menu ul li ul li a:hover,
#access .menu ul li ul li.active a,
#access .menu ul li ul li a.selected {
	background: #ff8100 url(../images/spacer.gif) no-repeat center bottom;
	border-bottom: 1px solid #f3f3f3;
	color: #fff;
	padding: 13px 12px 13px 12px;
}

#access .menu ul li ul li:last-child {
	border: none;
}
* html #access .menu {
	height: 1%;
}

.selectnav {display: none; width: 440px; margin-left: 20px;}

#access .menu ul li ul li a.arrow {
	margin: 0;
	border: none;
	display: block;
	padding: 0px;
	height: 1px;
	background: url(../images/spacer.gif) no-repeat left top;
}
#access .menu ul li ul li a.arrow img {
	position: absolute;
	top: -13px;
	left: 20px;
}



/*------------------*/
/*	PAGES
/*------------------------------------------------------*/

/* top section */
.top_contact_info {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	min-height: 40px;
}

ul.tci_list_left {
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
.tci_list_left li {
	float: left;
	padding: 0px;
	margin: 7px 0px 0px 2px;
	color: #e3e3e3;
}
.tci_list_left li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
}
.tci_list_left li a:hover {
	color: #181818;
}

ul.tci_list {
	float: right;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
.tci_list li {
	float: left;
	padding: 0px;
	margin: 7px 0px 0px 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.tci_list li a {
	width: 28px;
	height: 28px;
	display: block;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	background-color: #ff972d;
	border-radius: 20px;
}
.tci_list li a:hover {
	background-color: #181818;
}

.tci_list li.email a {
	color: #fff;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1; 
	opacity: 1;
	background: none;
	width: auto;
}
.tci_list li.email a:hover {
	color: #000;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1; 
	opacity: 1;
	background: none;
	width: auto;
}
.tci_list li.phone {
	float: left;
	width: auto;
	line-height: 40px;
	padding: 0px 0px 0px 20px;
	margin: 0px 20px 0px 0px;
	background: url(../images/phone-icon.png) no-repeat left 14px;
	border-radius: 0px;
}
.tci_list li.email {
	float: left;
	width: auto;
	line-height: 40px;
	padding: 0px 0px 0px 20px;
	margin: 0px 20px 0px 0px;
	background: url(../images/email-icon.png) no-repeat left 16px;
	border-radius: 0px;
}

.top_section {
	position: absolute;
	top: 0;
	padding:0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	height: 80px;
	background: #fff;
	z-index: 999;	
	width: 100%;
}

/* slider button */
.button_slider {
	margin: 0px;
	padding: 12px 40px 12px 27px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	background: #58c400 url(../images/arrow-9.png) no-repeat right 18px;
	border-bottom: 5px solid #4eaf00;
	border-radius: 5px;
}
.button_slider:hover {
	color: #fff;
	background: #454545 url(../images/arrow-9.png) no-repeat right 18px;
	border-bottom: 5px solid #333;
}

.button_slider_02 {
	margin: 0px;
	padding: 10px 35px 10px 22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	background: #ff8100 url(../images/arrow-9-2.png) no-repeat right 15px;
	border-bottom: 5px solid #d96d03;
	border-radius: 5px;
}
.button_slider_02:hover {
	color: #fff;
	background: #454545 url(../images/arrow-9-2.png) no-repeat right 15px;
	border-bottom: 5px solid #333;
}

.shadow_div_top {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 40px;
	box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.1);
	background: #fff;
	z-index: 999;
}

/* full gray box area */
.fullgray_area {
	float: left;
	width: 100%;
	padding: 35px 0px 30px 0px;
	background: #f9f9f9 url(../images/h-multy-lines.jpg) repeat-x left top;
	border-bottom: 1px solid #eee;
}
.fullgray_area p {
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
}


.fullblue_area {
	float: left;
	width: 100%;
	padding: 35px 0px 30px 0px;
	background: #ffffff url(../images/h-multy-lines.jpg) repeat-x left top;
	border-bottom: 1px solid #eee;
}
.fullcustom2_area {
	float: left;
	width: 100%;
	padding: 35px 0px 30px 0px;
	background: #ffffff url(../images/h-multy-lines.jpg) repeat-x left top;
	border-bottom: 1px solid #eee;
}
.fullorange_area {
	float: left;
	width: 100%;
	padding: 35px 0px 30px 0px;
	background: #ff8100 url(../images/h-multy-lines.jpg) repeat-x left top;
	border-bottom: 1px solid #eee;
}
.fullcustom_area {
	float: left;
	width: 100%;
	padding: 35px 0px 30px 0px;
	background: #f9f9f9 url(../images/h-multy-lines.jpg) repeat-x left top;
	border-bottom: 1px solid #eee;
}
.fullwhite_area {
	float: left;
	width: 100%;
	padding: 35px 0px 30px 0px;
	background: #ffffff url(../images/h-multy-lines.jpg) repeat-x left top;
	border-bottom: 1px solid #eee;
}
.fullwhite_area .big_text2 {
	font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    color: #211d1e;
    text-align: left
}
.fullwhite_area p {
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 21px;
}


/* full gray box area2 */
.fullgray_area2 {
	float: left;
	width: 100%;
	padding: 35px 0px 30px 0px;
	background: #f9f9f9 url(../images/h-multy-lines.jpg) repeat-x left top;
	border-bottom: 1px solid #eee;
}
.fullblue_area2 {
	float: left;
	width: 100%;
	padding: 35px 0px 30px 0px;
	background: #ffffff url(../images/h-multy-lines.jpg) repeat-x left top;
	border-bottom: 1px solid #eee;
}
.fullorange_area2 {
	float: left;
	width: 100%;
	padding: 35px 0px 30px 0px;
	background: #ff8100 url(../images/h-multy-lines.jpg) repeat-x left top;
	border-bottom: 1px solid #eee;
}
.fullwhite_area2 {
	float: left;
	width: 100%;
	padding: 35px 0px 30px 0px;
	background: #ff8100 url(../images/h-multy-lines.jpg) repeat-x left top;
	border-bottom: 1px solid #eee;
}

.fullgray_area44 {
	float: left;
	width: 100%;
	padding: 35px 0px 30px 0px;
	background: #f9f9f9 url(../images/h-multy-lines.jpg) repeat-x left top;
	border-bottom: 1px solid #eee;
}
.fullgray_area44 p {
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}

.fullgray_area45 {
	float: left;
	width: 100%;
	padding: 35px 0px 30px 0px;
	background: #ffffff;
}
.fullgray_area45 p {
    font-size: 17px;
    font-weight: normal;
    line-height: 26px;
}


/* site features 2 */
.site_boxedfeatures_two {
	float: left;
	width: 80%;
	padding: 18px 30px 25px 30px;
	border-radius: 4px;
	border: 1px solid #fff;
	text-align: center;
}
.site_boxedfeatures_two img {
	width: auto;
}
.site_boxedfeatures_two h2 {
	margin: 4px 0px 13px 0px;
}
.site_boxedfeatures_two:hover {
	border: 1px solid #eee;
	cursor: pointer;
}
.site_boxedfeatures_two.boxactive {
	border: 1px solid #eee;
}
.site_boxedfeatures2_two {
	float: left;
	width: 80%;
	padding: 18px 30px 25px 30px;
	border-radius: 4px;
	border: 1px solid #fff;
	text-align: center;
}
.site_boxedfeatures2_two img {
	width: auto;
}
.site_boxedfeatures2_two h2 {
	margin: 4px 0px 13px 0px;
}
.site_boxedfeatures2_two2:hover {
	border: 1px solid #eee;
	cursor: pointer;
}
.site_boxedfeatures2_two.boxactive {
	border: 1px solid #eee;
}


/* site features */
.site_boxedfeatures {
	float: left;
	padding: 25px 25px 30px 25px;
	margin: 0px 20px 0px 0px;
	width: 18.5%;
	background-color: #f9f9f9;
	border-top: 1px solid #eee;
	text-align: center;
}
.site_boxedfeatures .icon_area1 {
	background: #eee url(../images/site-icon1.png) no-repeat center 20px;
	border-radius: 35px;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.site_boxedfeatures .icon_area2 {
	background: #eee url(../images/site-icon2.png) no-repeat center 20px;
	border-radius: 35px;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.site_boxedfeatures .icon_area3 {
	background: #eee url(../images/site-icon3.png) no-repeat center 20px;
	border-radius: 35px;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.site_boxedfeatures .icon_area4 {
	background: #eee url(../images/site-icon4.png) no-repeat center 20px;
	border-radius: 35px;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.site_boxedfeatures strong {
	font-size: 16px;
	color: #121212;
	display: block;
	margin: 18px 0px 10px 0px;
	font-weight: 600;
	text-transform: uppercase;
}
.site_boxedfeatures:hover {
	border-top: 1px solid #ff8100;
}
.site_boxedfeatures:hover .icon_area1 {
	background: #ff8100 url(../images/site-icon1-hover.png) no-repeat center 20px;
}
.site_boxedfeatures:hover .icon_area2 {
	background: #ff8100 url(../images/site-icon2-hover.png) no-repeat center 20px;
}
.site_boxedfeatures:hover .icon_area3 {
	background: #ff8100 url(../images/site-icon3-hover.png) no-repeat center 20px;
}
.site_boxedfeatures:hover .icon_area4 {
	background: #ff8100 url(../images/site-icon4-hover.png) no-repeat center 20px;
}
.site_boxedfeatures.last {
	margin: 0px 0px 0px 0px;
}

.site_boxedfeatures.two {
	padding: 25px 25px 25px 25px;
}
.site_boxedfeatures.three {
	padding: 25px 25px 20px 25px;
}
.site_boxedfeatures.four {
	padding: 25px 25px 15px 25px;
}
.site_boxedfeatures2 {
	float: left;
	padding: 25px 25px 30px 25px;
	margin: 0px 20px 0px 0px;
	width: 26.1%;
	background-color: #e1e1e1;
	border-top: 1px solid #eee;
	text-align: center;
}
.site_boxedfeatures2 p{
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 21px;
}
.site_boxedfeatures2 .icon_area1 {
	background: #eee url(../images/site-icon1.png) no-repeat center 20px;
	border-radius: 35px;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.site_boxedfeatures2 .icon_area2 {
	background: #eee url(../images/site-icon2.png) no-repeat center 20px;
	border-radius: 35px;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.site_boxedfeatures2 .icon_area3 {
	background: #eee url(../images/site-icon3.png) no-repeat center 20px;
	border-radius: 35px;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.site_boxedfeatures2 .icon_area4 {
	background: #eee url(../images/site-icon4.png) no-repeat center 20px;
	border-radius: 35px;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.site_boxedfeatures2 strong {
	font-size: 16px;
	color: #121212;
	display: block;
	margin: 18px 0px 10px 0px;
	font-weight: 600;
	text-transform: uppercase;
}
.site_boxedfeatures2:hover {
	border-top: 1px solid #ff8100;
}
.site_boxedfeatures2:hover .icon_area1 {
	background: #ff8100 url(../images/site-icon1-hover.png) no-repeat center 20px;
}
.site_boxedfeatures2:hover .icon_area2 {
	background: #ff8100 url(../images/site-icon2-hover.png) no-repeat center 20px;
}
.site_boxedfeatures2:hover .icon_area3 {
	background: #ff8100 url(../images/site-icon3-hover.png) no-repeat center 20px;
}
.site_boxedfeatures2:hover .icon_area4 {
	background: #ff8100 url(../images/site-icon4-hover.png) no-repeat center 20px;
}
.site_boxedfeatures2.last {
	margin: 0px 0px 0px 0px;
}

.site_boxedfeatures2.two {
	padding: 25px 25px 25px 25px;
}
.site_boxedfeatures2.three {
	padding: 25px 25px 20px 25px;
}
.site_boxedfeatures2.four {
	padding: 25px 25px 15px 25px;
}

/* about site area */
.about_site {
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px 0px 28px 0px;
}
.about_site p {
    font-size: 17px;
    font-weight: normal;
    line-height: 27px;
}

/* get features */
.get_features {
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
}
.get_features h5 {
	margin-bottom: 7px;
}
.get_features p {
	line-height: 19px;
}
.get_features ul.get_features_list {
	float: left;
	padding: 0px;
	margin: 0px 0px 23px 0px;
}
.get_features ul.get_features_list.last {
	margin: 0px 0px 0px 0px;
}
.get_features .get_features_list li {
	float: left;
	padding: 0px;
	margin: 0px;
}
.get_features .get_features_list li.left {
	float: left;
	padding: 0px;
	margin: 0px 15px 0px 0px;
	width: 40px;
	height: 40px;
	background-color: #ff8100;
	border-radius: 20px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
}
.get_features .get_features_list li.right {
	width: 72%;
}
.get_features2 {
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
}
.get_features2 h2 {
	float: left;
    width: 100%;
    background: url(../images/sidebar-title-bg.png) no-repeat left 26px;
}
.get_features2 h5 {
	margin-bottom: 9px;
}
.get_features2 p {
	line-height: 19px;
    margin-bottom: 24px;
}
.get_features2 ul.get_features_list2 {
	float: left;
	padding: 0px;
	margin: 0px 0px 23px 0px;
}
.get_features2 ul.get_features_list2.last {
	margin: 0px 0px 0px 0px;
}
.get_features2 .get_features_list2 li {
	float: left;
	padding: 0px;
	margin: 0px;
}
.get_features2 .get_features_list2 li.left {
	float: left;
	padding: 0px;
	margin: 0px 15px 0px 0px;
	width: 40px;
	height: 40px;

	border-radius: 20px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
}
.get_features2 .get_features_list2 li.right {
	width: 72%;
}

/* fresh works */
.fresh_works {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.fresh_works ul.fresh_works_multylist {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.fresh_works .fresh_works_multylist li {
	float: left;
	padding: 0px;
	margin: 0px 20px 20px 0px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 1px 0 1px 0px #d3d3d3;
}
.fresh_works .fresh_works_multylist li.last {
	float: left;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}

/* recent news / blogs */
.recent_newsblgos {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.recent_newsblgos li {
	min-height: 310px;
	background-color: #fff;
}
.recent_newsblgos .section {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.recent_newsblgos .section .image img {
	float: left;
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8; 
	opacity: 0.8;
}
.recent_newsblgos .section .image img:hover {
	float: left;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1; 
	opacity: 1;
	cursor: pointer;
}
.recent_newsblgos .section .contarea h6 {
	margin-bottom: 12px;
}
.recent_newsblgos .section .contarea {
	float: left;
	padding: 13px 20px;
	margin: 0px;
	width: 83%;
	border-top: 1px solid #cacaca;
}
ul.share_icons {
	float: left;
	padding: 9px 0px 0px 0px;
	margin: 0px;
	width: 100%;
	border-top: 1px solid #f3f3f3;
}
.share_icons li {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0px;
	margin: 0px 0px 0px 3px;
	background: none;
}
.share_icons li.left {
	float: left;
	padding: 0px;
	margin: 0px;
	width: auto;
}
.share_icons li.left p {
	font-size: 11px;
	color: #b3b3b3;
	float: left;
	margin-top: -4px;
}
.share_icons li a img {
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1; 
	opacity: 1;
}
.share_icons li a img:hover {
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7; 
	opacity: 0.7;
}
.share_icons li.like {
	float: right;
	padding: 0px;
	margin: 0px;
	width: 16px;
	height: 16px;
	font-size: 10px;
	color: #eee;
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	background: url(../images/share-icon4.png) no-repeat center top;
}

/* clients */
.clients {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.clients .jcarousel-skin-tango .jcarousel-item {
	width: 180px;
	height: 80px;
	margin-right: 25px;
	background-color: #f9f9f9;
	border-bottom: 0px solid #d6d6d6;
	box-shadow: none;
}
.clients .jcarousel-skin-tango .jcarousel-clip-horizontal {
	min-height: 80px;
}
/*.clients .jcarousel-skin-tango .jcarousel-item img {
	width: 180px;
	height: 80px;
	filter:alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4; 
	opacity: 0.4;
}*/
/*.clients .jcarousel-skin-tango .jcarousel-item img:hover {
	width: 180px;
	height: 80px;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7; 
	opacity: 0.7;
}*/

/* bottom hilight */
.bottom_hilight {
	float: left;
	width: 100%;
	min-height: 300px;
	padding: 0px;
	margin: 0px;
	background: #60c3f7;
}
.bottom_hilight .left {
	float: left;
	width: 40%;
	padding: 0px;
	margin: 40px 0px 0px 0px;
}
.bottom_hilight .left iframe {
	float: left;
	width: 400px;
	height: 220px;
}
.bottom_hilight .right {
	float: right;
	width: 50%;
	padding: 0px;
	margin: 40px 0px 0px 0px;
}
.bottom_hilight strong {
	font-size: 27px;
	text-transform: uppercase;
	color: #fff;
	line-height: 31px;
	margin-top: -5px;
	display: block;
}
.bottom_hilight p {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	margin-top: 20px;
}

.trans_button {
	float: left;
	padding: 7px 16px;
	margin: 25px 0px 0px 0px;
	background: #fff;
	border-radius: 5px;
	border-bottom: 2px solid #909090;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #000;
	filter:alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4; 
	opacity: 0.4;
}
.trans_button:hover {
	color: #000;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7; 
	opacity: 0.7;
}
.bottom_hilight2 {
	float: left;
	width: 100%;
	min-height: 300px;
	padding: 40px 0px 40px 0px;
	margin: 0px 0px 0px 0px;
	background: #E64A19;
	margin-top:40px;
}
.bottom_hilight2 .big_text2 {
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 37px;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
}
.bottom_hilight2 .left {
	float: left;
	width: 40%;
	padding: 0px;
	margin: 40px 0px 0px 0px;
}
.bottom_hilight2 .left iframe {
	float: left;
	width: 400px;
	height: 220px;
}
.bottom_hilight2 .right {
	float: right;
	width: 50%;
	padding: 0px;
	margin: 40px 0px 0px 0px;
}
.bottom_hilight2 strong {
	font-size: 27px;
	text-transform: uppercase;
	color: #fff;
	line-height: 31px;
	margin-top: -5px;
	display: block;
}
.bottom_hilight2 p {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 26px;
	color: #08080a;
	margin-top: 20px;
    text-align: center;
    line-height: 41px;
    margin-bottom: 28px;    
}

.bottom_hilight23 {
	float: left;
	width: 100%;
	min-height: 300px;
	padding: 40px 0px 40px 0px;
	margin: 0px 0px 0px 0px;
	background: #ffffff;
}
.bottom_hilight23 .big_text2 {
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 37px;
    line-height: 45px;
    color: #83868b;
    text-align: center;
}
.bottom_hilight23 .left {
	float: left;
	width: 40%;
	padding: 0px;
	margin: 40px 0px 0px 0px;
}
.bottom_hilight23 .left iframe {
	float: left;
	width: 400px;
	height: 220px;
}
.bottom_hilight23 .right {
	float: right;
	width: 50%;
	padding: 0px;
	margin: 40px 0px 0px 0px;
}
.bottom_hilight23 strong {
	font-size: 27px;
	text-transform: uppercase;
	color: #fff;
	line-height: 31px;
	margin-top: -5px;
	display: block;
}
.bottom_hilight23 p {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 26px;
	color: #08080a;
	margin-top: 20px;
    text-align: center;
    line-height: 41px;
    margin-bottom: 28px;    
}

.trans_button2 {
	float: left;
	padding: 7px 16px;
	margin: 25px 0px 0px 0px;
	background: #fff;
	border-radius: 5px;
	border-bottom: 2px solid #909090;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #000;
	filter:alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4; 
	opacity: 0.4;
}
.trans_button2:hover {
	color: #000;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7; 
	opacity: 0.7;
}

.bottom_hilight66 {
	float: left;
	width: 100%;
	min-height: 300px;
	padding: 40px 0px 40px 0px;
	margin: 0px 0px 0px 0px;
	background: #f9f9f9;
}
.bottom_hilight66 .big_text2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 37px;
    line-height: 45px;
    color: #000000;
    text-align: center;
}
.bottom_hilight66 .left {
	float: left;
	width: 40%;
	padding: 0px;
	margin: 40px 0px 0px 0px;
}
.bottom_hilight66 .left iframe {
	float: left;
	width: 400px;
	height: 220px;
}
.bottom_hilight66 .right {
	float: right;
	width: 50%;
	padding: 0px;
	margin: 40px 0px 0px 0px;
}
.bottom_hilight66 strong {
	font-size: 27px;
	text-transform: uppercase;
	color: #fff;
	line-height: 31px;
	margin-top: -5px;
	display: block;
}
.bottom_hilight66 p {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 26px;
	color: #ff5722;
	margin-top: 20px;
    text-align: center;
    line-height: 41px;
    margin-bottom: 28px;    
}

.trans_button66 {
	float: left;
	padding: 7px 16px;
	margin: 25px 0px 0px 0px;
	background: #fff;
	border-radius: 5px;
	border-bottom: 2px solid #909090;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #000;
	filter:alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4; 
	opacity: 0.4;
}
.trans_button66:hover {
	color: #000;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7; 
	opacity: 0.7;
}

/* our team */
.our_team_box {
	width: 100%;
	float: left;
}
.our_team_box ul {
	margin: 0;
	padding: 7px 0 0 0px;
	float: left;
	width: 160px;
}
.our_team_box li {
	margin: 0;
	padding: 0;
	line-height: 18px;
	list-style-type: none;
	color: #a9a9a9;
}
.our_team_box li a {
	margin: 7px 5px 0 0;
	padding: 0;
	float: left;
}
.our_team_box  img.teammempic {
	width: 100%;
	margin: 0px;
	padding: 0;
	filter:alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9; 
	opacity: 0.9;
}
.our_team_box  img.teammempic:hover {
	width: 100%;
	margin: 0px;
	padding: 0;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1; 
	opacity: 1;
}
.our_team_box li a img:hover {
	margin: 0px;
	padding: 0;
	opacity: 0.7;
	filter: alpha(opacity=10);
}
.our_team_box li strong {
	font-size: 13px;
	color: #454545;
	display: block;
}
.our_team_box li strong i {
	color: #999;
	font-size: 11px;
	font-style: normal;
}
.our_team_box .boxleft {
	width: 160px;
	float: left;
	margin: 0px 20px 0 0;
}
.our_team_box .cont-area {
	float: left;
	font-size: 10px;
	color: #727272;
	width: 100%;
	margin-bottom: 10px;
}

.our_team_box .boxright {
	width: 160px;
	float: right;
	margin: 0px;
}

/* our team big */
.our_team_box_big {
	width: 100%;
	float: left;
}
.our_team_box_big ul {
	margin: 0;
	padding: 20px 0 0 0px;
	float: left;
	width: 220px;
}
.our_team_box_big li {
	margin: 0;
	padding: 0;
	line-height: 18px;
	list-style-type: none;
	color: #a9a9a9;
}
.our_team_box_big li a {
	margin: 7px 5px 0 0;
	padding: 0;
	float: left;
}
.our_team_box_big  img.teammempic {
	width: 225px;
	margin: 0px;
	padding: 0;
	float: left;
	filter:alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9; 
	opacity: 0.9;
}
.our_team_box_big  img.teammempic:hover {
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1; 
	opacity: 1;
}
.our_team_box_big li a img:hover {
	margin: 0px;
	padding: 0;
	opacity: 0.7;
	filter: alpha(opacity=10);
}
.our_team_box_big li strong {
	font-size: 14px;
	color: #454545;
	display: block;
}
.our_team_box_big li strong i {
	color: #999;
	font-size: 12px;
	font-style: normal;
}
.our_team_box_big .cont-area {
	float: left;
	font-size: 10px;
	color: #727272;
	width: 100%;
	margin-bottom: 10px;
}

/* client logos */
ul.clients_logos_list {
	padding: 0;
	margin: 20px 0 0 0px;
	position: relative;
}
.clients_logos_list li {
	padding: 0;
	margin: 0;
	float: left;
	width: 25%;
}
.clients_logos_list li img {
	width: 100%;
}
.clients_logos_list li.last {
	margin: 0 0px 0 0;
}


/* 404 Error Page */
.error_pagenotfound {
	padding: 30px 30px 45px 30px;
	margin: 0 auto;
	width: 67%;
	background-color: #fff;
	border: 1px solid #eee;
	border-bottom: 5px solid #eee;
	text-align: center;
}
.error_pagenotfound strong {
	display: block;
	font-size: 145px;
	line-height: 100px;
	color: #e3e3e3;
}
.error_pagenotfound b {
	display: block;
	font-size: 40px;
	line-height: 40px;
	color: #eee;
	margin: 0;
}
.error_pagenotfound i {
	display: block;
	font-size: 18px;
	line-height: 50px;
	color: #999;
	margin: 0;
	font-style: normal;
}

/* Slider Static Image */
.slider_static_image {
	width: 100%;
	height: 485px;
	float: left;
	padding: 80px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	background: url(../images/parallax-banner.jpg) repeat center top;
}
.slider_static_image p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    line-height: 41px;
    margin-bottom: 60px;
}
.slider_static_image .big_text2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 37px;
    line-height: 53px;
    color: #ffffff;
    text-align: center;
    padding-top: 47px
}
.slider_static_image .static_right_img {
	width: 100%;
	height: 485px;
	background: url(../images/sliders/iosslider/slide2.png) no-repeat right bottom;
}

.slider_static_image .text1 {
	color: #333;
	font-size: 36px;
	line-height: 36px;
	font-family: 'Open Sans', sans;
	font-weight: 600;
    padding: 0;
	margin: 0px;
	text-align: left;
	margin-top: 0px;
	text-transform: uppercase;
}
.slider_static_image .text5 {
	color: #333;
	font-size: 52px;
	line-height: 50px;
	font-family: 'Open Sans', sans;
	font-weight: bold;
    padding: 0;
	margin: 0px;
	text-align: left;
	margin-top: 10px;
	text-transform: uppercase;
}
.slider_static_image .text2 {
	color: #272727;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 27px;
	line-height: 27px;
	font-family: 'Open Sans', sans;
	text-align: left;
	margin-top: 35px;
}
.slider_static_image .text3 {
	color: #454545;
	text-shadow: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 27px;
	font-family: 'Open Sans', sans;
	text-align: left;
	margin-top: 10px;
}
.slider_static_image .text4 {
	margin-top: 30px;
}

.slider_static_image .static_left_content {
	float: left;
	width: 55%;
	padding: 0px;
	margin: 80px 0px 0px 10px;
}


/* Slider Video */
.slider_video {
	width: 100%;
	float: left;
	padding: 0px;
	border-bottom: 1px solid #e6e6e6;
	margin: 0px 0px 0px 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	height: 485px;
	background: url(../images/sliders/iosslider/slider-bg2.jpg) repeat center top;
}
.slider_video .video_ara {
	float: right;
	width: 94%;
	height: 370px;
	margin-top: 58px;
	margin-right: 10px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.slider_video .video_ara iframe {
	width: 100%;
	height: 100%;
}
.slider_video .video_ara iframe {
	width: 100%;
	height: 100%;
}

.slider_video .text1 {
	color: #333;
	font-size: 36px;
	line-height: 36px;
	font-family: 'Open Sans', sans;
	font-weight: 600;
    padding: 0;
	margin: 0px;
	text-align: left;
	margin-top: 0px;
	text-transform: uppercase;
}
.slider_video .text5 {
	color: #333;
	font-size: 52px;
	line-height: 50px;
	font-family: 'Open Sans', sans;
	font-weight: bold;
    padding: 0;
	margin: 0px;
	text-align: left;
	margin-top: 10px;
	text-transform: uppercase;
}
.slider_video .text2 {
	color: #272727;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 27px;
	line-height: 27px;
	font-family: 'Open Sans', sans;
	text-align: left;
	margin-top: 35px;
}
.slider_video .text3 {
	color: #454545;
	text-shadow: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 27px;
	font-family: 'Open Sans', sans;
	text-align: left;
	margin-top: 10px;
}
.slider_video .text4 {
	margin-top: 30px;
}

.slider_video .slider_video_content {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 85px 0px 0px 10px;
}

.bottom_buildings {
	float: left;
	width: 100%;
	height: 120px;
	margin-top: -34px;
}

/* what people say’s */
.people_says {
	float: left;
	width: 100%;
	text-align: center;
}
.people_says h2 i {
	color: #999;
	font-size: 12px;
	font-style: normal;
	text-transform: none;
	font-weight: 600;
}
.people_says .who_pic {
	float: left;
	width: 100%;
	height: 55px;
}
.people_says .who_pic .name {
	padding: 0px;
	margin: 0px;
	text-align: right;
	width: 48%;
	float: left;
	font-family: 'Open Sans' !important;
	font-weight: normal;
	color: #454545;
}
.people_says .who_pic .picture {
	padding: 0px;
	margin: 0px;
	text-align: left;
	width: 50%;
	float: right;
}
.people_says .who_pic .picture img {
	border-radius: 2px;
}


/*------------------*/
/*	FOOTER
/*------------------------------------------------------*/

#footer {
	padding: 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	float: left;
	position: relative;
	background-color: #000;
	z-index: 1;
	color:#999;
}

#footer .footer_columns {
	padding: 37px 0px 0px 0px;
	margin: 0px;
	width: 100%;
	float: left;
	background: url(../images/footer-shadow.png) repeat-x left top;
}
#footer .footer_columns h2 {
	color: #fff;
	margin-bottom: 20px;
}
#footer .footer_columns h3 {
	color: #fff;
	margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
}
#footer .footer_columns h2 i {
	font-style: normal;
	font-weight: normal;
	color: #f9f9f9;
}

#footer ul.arrows_list1 {
	float: left;
	padding: 0px;
	margin: -10px 0px 0px 0px;
}
#footer .arrows_list1 li {
	padding: 0px 0px 0px 12px;
	margin: 0px;
	line-height: 30px;
	background: url(../images/arrow-01.png) no-repeat left 12px;
}
#footer .arrows_list1 li a {
	color: #999;
}
#footer .arrows_list1 li a:hover {
	color: #eee;
}

/* Tweets */
.twitter_feed {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.twitter_feed .left {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 25px;
}
.twitter_feed .right {
	float: right;
	padding: 0px;
	margin: -5px 0px 0px 0px;
	width: 89%;
}
.twitter_feed a {
	color: #999;
}
.twitter_feed a:hover {
	color: #eee;
}
.twitter_feed a.small {
	font-size: 9px;
	color: #727272;
}
.twitter_feed a.small:hover {
	font-size: 9px;
	color: #999;
}

/* flickr */
#flickr_badge_wrapper {
	padding: 0px;
	margin: 0px;
}
#flickr_badge_wrapper img {
	width: 67px;
	height: 53px;
	margin-right: 6px;
	margin-bottom: 1px;
	border: 1px solid #999 !important;
}
#flickr_www {
	display:block;
	padding:0 10px 0 10px !important;
}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
	text-decoration:none !important;
	background:inherit !important;
	color:#3993ff;
}
#flickr_badge_wrapper {
	margin-top: 25px;
}
#flickr_badge_source {
	padding:0 !important;
}

/* newsletter */
#footer .newsletter {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
#footer .newsletter input.enter_email_input {
	float: left;
	padding: 3px 0px 0px 10px;
	height: 30px;
	width: 90%;
	margin: 13px 0 0 0px;
	background-color: #454545;
	border: 1px solid #666;
	font: normal 12px "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #999;
}
#footer .newsletter .input_submit {
	float: left;
	padding: 8px 10px;
	margin: 10px 0 0 0px;
	background-color: #575757;
	border: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: normal;
	color: #b9b9b9;
}
#footer .newsletter .input_submit:hover {
	color: #fff;
	cursor: pointer;
	background-color: #666;
}
#footer .newsletter .rss_feeds {
	float: left;
	font-size: 11px;
	margin-top: 10px;
	padding: 0px 0px 0px 16px;
	background: url(../images/rss-small-icon.png) no-repeat left 7px;
}
#footer .newsletter .rss_feeds a {
	color: #b7b7b7;
}
#footer .newsletter .rss_feeds a:hover {
	color: #eee;
}

/* copyrights */
.copyright_info {
	float: left;
	padding: 0px 0px 20px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	color: #fff;
	border-bottom: 2px solid #2e2e2e;
}
.copyright_info b {
	font-size: 12px;
	color: #727272;
	font-style: normal;
	font-weight: normal;
}
.copyright_info span {
	float: right;
}
.copyright_info a {
	margin-top: 10px;
	font-size: 12px;
	color: #fff;
	text-align: right;
}
.copyright_info a:hover {
	color: #999;
}

/* footer logo */
.footer_logo {
	float: left;
	width: 100%;
}
.footer_logo h1 {
	float: left;
	padding: 0px;
	margin: 0px;
	line-height: 27px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 27px;
	color: #606060;
	text-transform: none;
	text-align: left;
}
.footer_logo h1 i {
	color: #606060;
	font-style: normal;
	text-transform: none;
	background: url(../images/footer-logo-icon.png) no-repeat center 9px;
}

/* address */
.address_info {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
}

/* scroll up */
.scrollup_area {
	width: 36px;
	height: 36px;
	margin: 0 auto;
	z-index: 99;
}
.scrollup{
    width:36px;
    height:36px;
	padding: 18px 18px;
    opacity:1;
	top: -46px;
    position: relative;
    display:none;
    text-indent:-9999px;
	font-size: 1px;
	color: #999;
	z-index: 99;
    background: url(../images/scroll-top-arrow.png) no-repeat center top;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.scrollup:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

/* top show hide plugin */
.slidingDiv{
	text-align: center;
	background: #ff8100;
	padding: 0px 20px 0px 20px;
	margin-top:0px;
	height: 40px;
	display:none;
	color: #fff;
	position: relative;
}
.show_hide_butr {
	width: 100%;
}
a.show_hide{
	text-align: center;
	width: 26px;
	height: 16px;
	display: block;
	margin: 0px 0px 0px 1000px;
	background: url(../images/elements/top-site-show.png) no-repeat center top;
	position: relative;
	z-index: 1000;
}
.show_hide {
	font: none;
}
.top-border-line {
	background: #ff8100;
	height: 4px;
}


/* portfolio single image */
.portfolio_area {
	padding: 0px;
	margin: 0px;
	width: 100%;
	float: left;
}
.portfolio_area_left {
	padding: 0px;
	margin: 0px;
	width: 75%;
	float: left;
}
.portfolio_area_left img {
	padding: 0px;
	margin: 0px;
	width: 100%;
	float: left;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.portfolio_area_right {
	padding: 0px;
	margin: 0px 0px 0px 3%;
	width: 22%;
	float: left;
}
.project_details {
	padding: 0px;
	margin: 40px 0px 0px 0px;
}
.project_details span {
	padding: 5px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	font-weight: bold;
	color: #454545;
	float: left;
	width: 100%;
	border-bottom: 1px solid #e3e3e3;
}
.project_details strong {
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	font-weight: bold;
	color: #727272;
	float: left;
	width: 40%;
}
.project_details i {
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #727272;
	float: left;
	width: 60%;
}
.project_details span a {
	padding: 3px 10px;
	margin: 0px 0px 0px 3px;
	font-size: 11px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #727272;
	background-color: #e3e3e3;
	border-radius:3px;
}
.project_details span a:hover {
	background-color: #ddd;
}
.addto_favorites {
	padding: 3px 10px 5px 30px;
	margin: 20px 0px 0px 0px;
	width: 115px;
	display: block;
	border-radius:3px;
	font-size: 13px;
	color: #999;
	background: #e3e3e3 url(../images/elements/icon-heart.png) no-repeat 10px 10px;
}
.addto_favorites:hover {
	background: #ddd url(../images/elements/icon-heart.png) no-repeat 10px 10px;
}

ul.small_social_links {
	padding: 0px;
	margin: 9px 0 25px 0px;
}
.small_social_links li {
	padding: 0px;
	margin: 0px 9px 0px 0px;
	float: left;
	width: 18px;
	height: 18px;
}
.small_social_links li a {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.small_social_links li a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.portfolio_image {
	float: left;
	width: 98%;
	padding: 0px;
	margin: 0px;
	border: 5px solid #ffffff;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.portfolio_image .title {
	float: left;
	width: 93%;
	padding: 10px 11px 7px 10px;
    margin: 0px 0px 0px 0px;
	font-size: 15px;
	color: #323095;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	/*text-transform: lowercase;*/
    background: #ffffff;
    min-height: 42px;
}
.portfolio_image .subtitle {
	float: left;
	width: 93%;
	padding: 5px 5px 2px 10px;
    margin: 0px 0px 0px 0px;
	font-size: 13px;
	color: #232522;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	/*text-transform: lowercase;*/
    background: #ffffff;
}
.portfolio_image img {
	float: left;
	width: 100%;
 
}

.portfolio_image em {
	color: #ff0000;
 
}
.portfolio_image img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.portfolio_image3 {
	float: left;
	width: 98%;
	padding: 0px;
	margin: 0px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.portfolio_image3 .title {
	float: left;
	width: 92%;
	padding: 10px 8px 7px 14px;
    margin: 0px 0px 0px 0px;
	font-size: 15px;
	color: #ff8100;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    background: #ffffff;
}
.portfolio_image3 img {
	float: left;
	width: 100%;
 
}
.portfolio_image3 img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}


.portfolio_image2 {
	float: left;
	width: 98%;
	padding: 0px;
	margin: 0px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.portfolio_image2 .title {
	float: left;
	width: 92%;
	padding: 10px 11px 7px 14px;
    margin: 0px 0px 11px 0px;
	font-size: 15px;
	color: #ff8100;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    background: #e2e9e2;
}
.portfolio_image2 p {
	font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    margin: 0px 0px 0px 0px;
    padding: 0px 9px 0px 7px;
}
.portfolio_image2 img {
	float: left;
	width: 100%;
 
}
.portfolio_image2 img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.portfolio_image4 {
	float: left;
	width: 98%;
	padding: 0px;
	margin: 0px;
	border: 5px solid #87baf2;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.portfolio_image4 .title {
	float: left;
	width: 93%;
	padding: 10px 11px 7px 14px;
    margin: 0px 0px 0px 0px;
	font-size: 15px;
	color: #232522;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    background: #87baf2;
}
.portfolio_image4 img {
	float: left;
	width: 100%;
 
}
.portfolio_image4 img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
/*------------------*/
/*	CONTENT
/*------------------------------------------------------*/
.content_left {
	float: left;
	width: 71%;
	padding: 40px 0px 0px 0px;
}
.content_fullwidth {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}
.content_fullwidth2 {
	float: left;
	width: 100%;
	padding: 8px 0px 0px 0px;
}
.right_sidebar {
	float: right;
	width: 25%;
	padding: 40px 0px 0px 0px;
}
.left_sidebar {
	float: left;
	width: 25%;
	padding: 40px 0px 0px 0px;
}
.content_right {
	float: right;
	width: 71%;
	padding: 40px 0px 0px 0px;
}


/* page title */
.page_title {
	width: 100%;
	min-height:100px;
	margin: 0px;
	background-color: #34318c;
	padding: 98px 0px 9px 0px;
}
.page_title .title {
	width: 100%;
	float: left;
	text-align: left;
	margin: 31px 0 0 0px;
}
.page_title .title h1 { 
	font-size: 31px;
	color: #fff;
	margin: 0px 0px 0px 4px;
	line-height:27px;
}
.page_title .pagenation {
	float: left;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-align: left;
	font-weight: 600;
	color: #fff;
	margin: 0px 0 0 0px;
	padding: 7px 0 0px 0px;
}
.page_title .pagenation i {
	color: #e3e3e3;
	margin: 0px 2px 0px 2px;
}
.page_title .pagenation a {
	padding: 0px 0px 0px 4px;
	color: #e3e3e3;
	background: url(../images/arrow-05.png) no-repeat left 6px;
}
.page_title .pagenation a:hover {
	color: #fff;
}

/* blog */
.blog_post {
	float: left;
	width: 100%;
}
.blog_post h3 {
	float: left;
	font-size: 20px;
	text-align: left;
	text-transform: none;
	font-weight: 600;
	color: #333;
	width: 85%;
	line-height: 25px;
}
.blog_post h3 a {
	color: #333;
	text-decoration: none;
	float: left;
	margin-top: 3px;
	text-transform: none;
}
.blog_post h3 a:hover {
	color: #ff8100;
}
.post_info_content {
	padding: 0px;
	margin: -5px 0 0 13%;
	width: 87%;
	float: left;
}
ul.post_meta_links {
	float: left;
	margin: -12px 0px 0px -6px;
	padding: 0px 0px 0px 0px;
	width: 80%;
}
.post_meta_links li {
	float: left;
	margin: 0px;
	padding: 0px 0px 0px 4px;
	list-style-type: none;
	color: #999;
}
.post_meta_links li.post_by {
	padding: 0px 0px 0px 25px;
	background: url(../images/blog/icon-by-user.png) no-repeat 5px 5px;
}
.post_meta_links li.post_categoty {
	padding: 0px 0px 0px 22px;
	background: url(../images/blog/icon-category.png) no-repeat 2px 6px;
}
.post_meta_links li.post_comments {
	padding: 0px 0px 0px 22px;
	background: url(../images/blog/icon-comments.png) no-repeat 2px 5px;
}
.post_meta_links li a {
	color: #a1a1a1;
	padding: 0px 18px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.post_meta_links li a:hover {
	color: #727272;
	text-decoration: none;
}
.blog_postcontent {
	float: left;
	width: 100%;
}
.blog_postcontent .image_frame {
	float: left;
	width: 98%;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .image_frame:hover {
	border: 7px solid #f9f9f9;
}
.blog_postcontent .image_frame img {
	float: left;
	width: 99.7%;
	border: 1px solid #fff;
}
.blog_postcontent .video_frame iframe {
	float: left;
	width: 98%;
	height: 300px;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .video_frame iframe:hover {
	border: 7px solid #f9f9f9;
}

/* blog small */
.blog_post h3 {
	width: 74%;
}
.blog_postcontent .image_frame.small {
	float: left;
	width: 43%;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .image_frame.small:hover {
	border: 7px solid #f9f9f9;
}
.blog_postcontent .image_frame img {
	float: left;
	width: 99.7%;
	border: 1px solid #fff;
}
.blog_postcontent .video_frame.small iframe {
	float: left;
	width: 43%;
	height: 140px;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .video_frame iframe:hover {
	border: 7px solid #f9f9f9;
}
.post_info_content_small {
	padding: 0px;
	margin: 0 0 0 4%;
	width: 50%;
	float: left;
}
ul.post_meta_links_small {
	float: left;
	margin: -15px 0px 12px 80px;
	padding: 0px 0px 0px 0px;
	width: 80%;
}
.post_meta_links_small li.post_by {
	float: left;
	padding: 0px 0px 0px 18px;
	background: url(../images/blog/icon-by-user.png) no-repeat 0px 5px;
}
.post_meta_links_small li.post_categoty {
	float: left;
	padding: 0px 0px 0px 26px;
	background: url(../images/blog/icon-category.png) no-repeat 9px 6px;
}
.post_meta_links_small li.post_comments {
	float: left;
	padding: 0px 0px 0px 26px;
	background: url(../images/blog/icon-comments.png) no-repeat 9px 5px;
}
.post_meta_links_small li a {
	color: #a1a1a1;
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.post_meta_links_small li a:hover {
	color: #727272;
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.blog_post a.date {
	padding: 10px 5px 0px 0px;
	text-decoration: none;
	width: 55px;
	height: 55px;
	text-align: center;
	background: #f9f9f9;
	display: block;
	margin-right: 20px;
	float: left;
	-webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.blog_post a.date strong {
	color: #ff8100;
	font-size: 27px;
	font-weight: normal;
	display: block;
	margin-bottom: 10px;
}
.blog_post a.date:hover strong {
	color: #333;
}
.blog_post a.date i {
	color: #fff;
	font-size: 11px;
	font-style: normal;
	padding: 0px 10px;
	display: block;
	border-top: 1px solid #f3f3f3;
	width: 40px;
	background-color: #ff8100;
}
.blog_post a.date:hover i {
	background-color: #333;
}
.post_readmore:link, .post_readmore:visited {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images/skin01/but_post_readmore.jpg) no-repeat left top;
}
.post_readmore:hover {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images/skin01/but_post_readmore_hover.jpg) no-repeat left top;
}
.sharepost {
	float: left;
	width: 80%;
	margin-bottom: 30px;
}
.sharepost ul {
	margin: 0px;
	padding: 0px;
}
.sharepost li {
	margin: 0px;
	padding: 0 9px 0 0;
	float: left;
	list-style-type: none;
}

.about_author {
	float: left;
	width: 93%;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #eee;
}
.about_author img {
	float: left;
	margin-right: 20px;
}
.about_author a {
	font-family: 'Open Sans' !important;
	font-weight: normal;
	font-weight: 600;
	color: #333;
}
.about_author a:hover {
	color: #ff8100;
}


/* pagination */
.pagination {
	clear:both;
	padding:10px 0;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.pagination b{
	float:left;
	margin: 0px 5px 2px 0;
	padding:0px 10px;
	font-weight: normal;
	color: #999;
}
.pagination a.navlinks {
	font-size: 12px;
	color: #454545;
	background-color: #eee;
	font-weight: 600;
	text-transform: uppercase;
	padding: 7px 10px;
	border-radius: 3px;
}
.pagination a.navlinks:hover {
	color: #fff;
	background-color: #454545;
}
.pagination a.current {
	color: #fff;
	background-color: #454545;
}



/* comment form */
.comment_form {
	float: left;
	width: 90%;
	margin-top: 30px;
}
.comment_form label{
	float: left;
	width: 90px;
	height: 15px;
	padding: 7px 10px;
	margin-bottom: 20px;
}
.comment_input_bg {
	float: left;
	width: 70%;
	height: 25px;
	padding: 7px 10px 0px 10px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_textarea_bg {
	float: left;
	width: 90%;
	height: 235px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 20px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_checkbox {
	float: left;
	display: block;
	width: 90%;
	margin-top: 10px;
}
.comment_submit {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 9px 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	border-radius: 4px;
	color: #333;
	text-transform: uppercase;
}
.comment_submit:hover {
	background-color: #f9f9f9;
	cursor: pointer;
}


/* comments */
.comment_wrap{
	padding:20px 20px 20px 0px;
	overflow:hidden;
	border-bottom:1px solid #eee;
}
.comment_wrap.chaild{
	border-bottom:1px solid #eee;
	margin:10px 20px 10px 50px;
	overflow:hidden;
}
.gravatar{
	float:left;
}

.comment_content{
	overflow:hidden;
	padding-left:20px;
	position:relative;
	min-height:80px; 
}
.comment_content .comment_meta{
	position:relative;
}
.comment_content .comment_meta .comment_author{
	display:inline;
	font-size:14px;
	font-style: normal;
}
.comment_content .comment_meta .comment_author i{
	display:inline;
	font-size:11px;
	font-style: italic;
}
.comment_content .comment_text {
	clear:both;
	padding-top:0px;
	overflow:hidden;
}
.comment_content .comment_text a {
	color: #d3d3d3;
	margin-top: 5px;
	float: left;
}
.comment_content .comment_text a:hover {
	color: #727272;
	margin-top: 5px;
	float: left;
}
#comments_section li ul li{
	margin-left: 30px;
}

/* contact form */
.comment_form {
	float: left;
	width: 690px;
	margin-top: 30px;
}
.blocklabel {
	float: left;
	width: 100%;
	display: block;
	margin-top: 10px;
}
.comment_form label{
	float: left;
	width: 90px;
	height: 15px;
	padding: 7px 10px;
	margin-bottom: 20px;
}
.input_bg {
	float: left;
	width: 70%;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	padding: 0px 0px 0px 10px;
	border-top: 2px solid #e1e1e1;
	border-left: 2px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.textarea_bg {
	float: left;
	width: 90%;
	height: 235px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 20px;
	border-top: 2px solid #e1e1e1;
	border-left: 2px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.address-info {
	float: left;
	background-color: #f9f9f9;
	border: 1px solid #e1e1e1;
	padding: 20px 20px 10px 20px;
	width: 91%;
	margin-bottom: 40px;
}
.address-info a {
	color: #ff8100;
}
.address-info a:hover {
	color: #454545;
}

.google-map {
	width: 99%;
	height: 350px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}



/*------------------*/
/*	RIGHT SIDEBAR
/*------------------------------------------------------*/
/* site search */
.site-search-area {
	margin: 0px;
	padding: 0px;
}
#site-searchform {
	margin: 0;
	padding: 0;
}
#site-searchform #s{
	border: 1px solid #eee;
	background-color: #fff;
	width: 71%;
	height:30px;
	padding:5px 10px 0px 10px;
	color: #999;
	float: left;
	font: normal 12px "Trebuchet MS", Helvetica, Arial, sans-serif;
}
#site-searchform #searchsubmit{
	float: left;
	width:50px;
	height:36px;
	cursor:pointer;
	text-indent:-5555em;
	line-height:100;
	overflow:hidden;
	background: #ff8100 url(../images/site-search-icon.png) no-repeat center 9px;
	border:0;
}
#site-searchform #searchsubmit:hover{
	float: left;
	width:50px;
	height:36px;
	cursor:pointer;
	text-indent:-5555em;
	line-height:100;
	overflow:hidden;
	background: #454545 url(../images/site-search-icon.png) no-repeat center 9px;
	border:0;
}

.sidebar_widget {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.sidebar_widget ul.arrows_list1{
	margin-top: -10px;
}
.sidebar_widget ul.arrows_list1 li a:hover {
	color: #ff8100;
}
.sidebar_title {
	float: left;
	width: 100%;
	background: url(../images/sidebar-title-bg.png) no-repeat left 26px;
}
.sidebar_widget h3, .clientsays_widget h3 {
	margin-bottom: 25px;
	background-color: #fff;
	border-bottom: 1px solid #ff8100;
	float: left;
	padding: 0px 0px 10px 0px;
}
.sidebar_widget h3 i, .clientsays_widget h3 i {
	font-weight: normal;
	font-style: normal;
}
.sidebar_widget2 {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.sidebar_widget2 ul.arrows_list1{
	margin-top: -10px;
}
.sidebar_widget2 ul.arrows_list1 li a:hover {
	color: #ff8100;
}
.sidebar_title2 {
	float: left;
	width: 100%;
	background: url(../images/sidebar-title-bg.png) no-repeat left 26px;
}
.sidebar_widget2 p {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #121212;
	margin-top: 20px;
    text-align: left;
    line-height: 25px;
}
.sidebar_widget2 h3, .clientsays_widget h3 {
	margin-bottom: 25px;
	background-color: inherit;
	border-bottom: 1px solid #ff8100;
	float: left;
	padding: 0px 0px 10px 0px;
}
.sidebar_widget2 h3 i, .clientsays_widget h3 i {
	font-weight: normal;
	font-style: normal;
}

/* Recent Posts */
ul.recent_posts_list {
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
}
.recent_posts_list li {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 13px 0px;
	list-style-type: none;
	border-bottom: 1px solid #f5f6f6;
	float: left;
	width: 100%;
}
.recent_posts_list li a {
	text-decoration: none;
	line-height: 16px;
	display: block;
	color: #999;
}
.recent_posts_list li a:hover {
	color: #ff8100;
}

.recent_posts_list li span {
	float: left;
	margin-right: 15px;
}
.recent_posts_list li span img {
	float: left;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.recent_posts_list li span img:hover {
	float: left;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.recent_posts_list li i {
	padding: 1px 0px 0px 0px;
	margin: 0px;
	display: block;
	font-size: 10px;
	font-style: normal;
	color: #c9c9c9;
}
.recent_posts_list li.last {
	padding: 0px 0px 7px 0px;
	margin: 0px 0px 0px 0px;
	border-bottom: 0px solid #f5f6f6;
}

/* client says widget */
.clientsays_widget {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
	color: #999;
}
.clientsays_widget strong {
	font-weight: 600;
	color: #454545;
}
.clientsays_widget h3 {
	margin-bottom: 18px;
}
.clientsays_widget img {
	float: left;
	margin-right: 13px;
	margin-top: 7px;
	border: 1px solid #e3e3e3;
}

/* Advertisements */
ul.adsbanner-list {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
.adsbanner-list li {
	margin: 0px 10px 10px 0px;
	padding: 0px;
	float: left;
	width: 120px;
	height: 120px;
	list-style-type: none;
}
.adsbanner-list li img {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 120px;
	height: 120px;
	list-style-type: none;
}
.adsbanner-list li.last {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 120px;
	height: 120px;
	list-style-type: none;
}




/*------------------*/
/* TYPOGRAPHY ELEMENTS
/*------------------------------------------------------*/

a.but_goback,
a.but_ok_2,
a.but_wifi,
a.but_warning_sign,
a.but_user,
a.but_tag,
a.but_table,
a.but_star,
a.but_search,
a.but_phone,
a.but_pencil,
a.but_new_window,
a.but_music,
a.but_hand_right,
a.but_thumbs_down,
a.but_thumbs_up,
a.but_globe,
a.but_hospital,
a.but_coffe_cup,
a.but_settings,
a.but_chat,
a.but_play_button,
a.but_remove_2,
a.but_lock,
a.but_shopping_cart,
a.but_exclamation_mark,
a.but_info,
a.but_question_mark,
a.but_minus,
a.but_plus,
a.but_folder_open,
a.but_file,
a.but_envelope,
a.but_edit,
a.but_cogwheel,
a.but_check,
a.but_camera,
a.but_calendar,
a.but_bookmark,
a.but_book,
a.but_download,
a.but_pdf,
a.but_word_doc,
a.but_woman {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

a.but_goback {
	padding: 13px 25px 13px 45px;
	margin: 0px 0px 0px 50px;
	background: #ff8100 url(../images/arrow_left.png) no-repeat 18px 13px;
	border-bottom: 1px solid #cc7a00;
}
a.but_goback:hover {
	color: #fff;
	background-color: #ff9900;
}
a.but_ok_2 {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #ff8100 url(../images/elements/ok_2.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_ok_2:hover {
	background-color: #ff9900;
}

a.but_wifi {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #0099cc url(../images/elements/wifi.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_wifi:hover {
	background-color: #00abde;
}

a.but_warning_sign {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #e5cc19 url(../images/elements/warning_sign.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_warning_sign:hover {
	background-color: #efda1b;
}

a.but_user {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #007f99 url(../images/elements/user.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_user:hover {
	background-color: #0090ad;
}

a.but_tag {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #e59919 url(../images/elements/tag.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_tag:hover {
	background-color: #efa61b;
}

a.but_table {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #4c6699 url(../images/elements/table.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_table:hover {
	background-color: #5674ad;
}

a.but_star {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #99cc4c url(../images/elements/star.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_star:hover {
	background-color: #a6da52;
}

a.but_search {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #66667f url(../images/elements/search.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_search:hover {
	background-color: #747490;
}

a.but_phone {
	padding: 10px 20px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #e56619 url(../images/elements/phone.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_phone:hover {
	background-color: #ef6f1b;
}

a.but_pencil {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #cc4c19 url(../images/elements/pencil.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_pencil:hover {
	background-color: #da521b;
}

a.but_new_window {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #001900 url(../images/elements/new_window.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_new_window:hover {
	background-color: #333333;
}

a.but_music {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #cccc7f url(../images/elements/music.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_music:hover {
	background-color: #dada8a;
}

a.but_hand_right {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #ff8100 url(../images/elements/hand_right.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_hand_right:hover {
	color: #fff;
	background-color: #ff9900;
}

a.but_thumbs_down {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #9999cc url(../images/elements/thumbs_down.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_thumbs_down:hover {
	background-color: #a6a6da;
}

a.but_thumbs_up {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #00cce5 url(../images/elements/thumbs_up.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_thumbs_up:hover {
	background-color: #00daef;
}

a.but_globe {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #669999 url(../images/elements/globe.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_globe:hover {
	background-color: #6fa6a6;
}

a.but_hospital {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #196666 url(../images/elements/hospital.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_hospital:hover {
	background-color: #1b6f6f;
}

a.but_coffe_cup {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #7f994c url(../images/elements/coffe_cup.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_coffe_cup:hover {
	background-color: #8aa652;
}

a.but_settings {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #997f4c url(../images/elements/settings.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_settings:hover {
	background-color: #a68a52;
}

a.but_chat {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #7f9919 url(../images/elements/chat.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_chat:hover {
	background-color: #8aa61b;
}

a.but_play_button {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #4c664c url(../images/elements/play_button.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_play_button:hover {
	background-color: #567456;
}

a.but_remove_2 {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #e59966 url(../images/elements/remove_2.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_remove_2:hover {
	background-color: #efa66f;
}

a.but_lock {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #994c19 url(../images/elements/lock.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_lock:hover {
	background-color: #a6521b;
}

a.but_shopping_cart {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #cc7f4c url(../images/elements/shopping_cart.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_shopping_cart:hover {
	background-color: #da8a52;
}

a.but_exclamation_mark {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #4c7f7f url(../images/elements/exclamation_mark.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_exclamation_mark:hover {
	background-color: #528a8a;
}

a.but_info {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #667fcc url(../images/elements/info.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_info:hover {
	background-color: #6f8ada;
}

a.but_question_mark {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #4c0019 url(../images/elements/question_mark.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_question_mark:hover {
	background-color: #620020;
}

a.but_minus {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #666666 url(../images/elements/minus.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_minus:hover {
	background-color: #747474;
}

a.but_plus {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #333333 url(../images/elements/plus.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_plus:hover {
	background-color: #444444;
}

a.but_folder_open {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #99cc99 url(../images/elements/folder_open.png) no-repeat 16px 14px;
	border-bottom: 1px solid #909090;
}
a.but_folder_open:hover {
	background-color: #a6daa6;
}

a.but_file {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #999999 url(../images/elements/file.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_file:hover {
	background-color: #a6a6a6;
}

a.but_envelope {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #727272 url(../images/elements/envelope.png) no-repeat 16px 14px;
	border-bottom: 1px solid #909090;
}
a.but_envelope:hover {
	background-color: #7c7c7c;
}

a.but_edit {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #e5cc7f url(../images/elements/edit.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_edit:hover {
	background-color: #efda8a;
}

a.but_cogwheel {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #194c7f url(../images/elements/cogwheel.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_cogwheel:hover {
	background-color: #1e5c99;
}

a.but_check {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #004c4c url(../images/elements/check.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_check:hover {
	background-color: #005c5c;
}

a.but_camera {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #007fcc url(../images/elements/camera.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_camera:hover {
	background-color: #008ada;
}

a.but_calendar {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #4c99e5 url(../images/elements/calendar.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_calendar:hover {
	background-color: #52a6ef;
}

a.but_bookmark {
	padding: 10px 22px 10px 38px;
	margin: 0px 0px 0px 0px;
	background: #990000 url(../images/elements/bookmark.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_bookmark:hover {
	background-color: #b60000;
}

a.but_book {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #7f9999 url(../images/elements/book.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_book:hover {
	background-color: #8aa6a6;
}

a.but_download {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #ff8100 url(../images/elements/download.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_download:hover {
	background-color: #ff9900;
}

a.but_pdf {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #ff8100 url(../images/elements/pdf.png) no-repeat 13px 11px;
	border-bottom: 1px solid #909090;
}
a.but_pdf:hover {
	background-color: #ff9900;
}

a.but_word_doc {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #ff8100 url(../images/elements/word_doc.png) no-repeat 13px 11px;
	border-bottom: 1px solid #909090;
}
a.but_word_doc:hover {
	background-color: #ff9900;
}

a.but_woman {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #ff8100 url(../images/elements/woman.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_woman:hover {
	background-color: #ff9900;
}


/* styled boxes */
.info, .error, .notice, .success {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #bbb;
	margin-bottom: 20px;
	font-size: 13px;
}
p.error {
	border: none;
}
.info strong, .error strong, .notice strong, .success strong {
	font-size: 16px;
}
.message-box-wrap {
	border: 0px solid #fff;
	padding:10px;
}
.info {
	color: #4a84bc;
	border-color: #c6e3ff;
	background-color: #e6f3ff;
}
.error {
	color: #bd6767;
	border-color: #f1bdbd;
	background-color: #ffdddd;
}
.notice {
	color: #a79a30;
	border-color: #d7d099;
	background-color: #f6f2d2;
}
.success {
	color: #1ea133;
	border-color: #a9ecb4;
	background-color: #dffbe4;
}
.close-but {
	width: 10px;
	height: 10px;
	float: right;
	border: none;
	margin: 5px;
	background: url(../images/elements/icon-remove.png) no-repeat center top;
}

/* dropcaps */

.dropcap1, .dropcap2, .dropcap3 {
	float: left;
	text-align: center;
	overflow:hidden;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.dropcap1 {
	width: 53px;
	height:	58px;
	line-height: 50px;
	background:url(../images/elements/dropcap_gray.png) no-repeat scroll 0px 0px transparent;
	color: #999;
	margin:0 8px -4px 0;
	font-size: 32px;
}
.dropcap1.gray {
	background-image:url(../images/elements/dropcap_gray.png);
}
.dropcap2 {
	background:url(../images/elements/dropcap_gray.png) no-repeat scroll 0 -108px transparent;
	color:#999;
	line-height: 47px;
	height: 56px;
	width: 53px;
	margin:0 8px -4px 0;
	font-size:32px;
}
.dropcap2.gray {
	background-image:url(../images/elements/dropcap_gray.png);
}
.dropcap3 {
	font-size:40px;
	line-height: 40px;
	width:44px;
	height:44px;
	margin:0 0 -4px 0;
}
.dropcap3.gray {
	color: #999;
}


/* styled lists */
ul.list1, ul.list2, ul.list3, ul.list4, ul.list5, ul.list6, ul.list7, ul.list8, ul.list9, ul.list10, ul.list11,{
	list-style-type:none;
	margin:0px 0px 25px 0px;
	padding: 0px;
	text-align: left;
}
ul.list12 {
	list-style-type:none;
	margin:0px 0px 25px 0px;
	padding: 0px;
	text-align: left;
    color: black;
    line-height: 31px;
    font-size: 16px;
    font-weight: normal;
}
ul.list1 li,ul.list2 li,ul.list3 li,ul.list4 li,ul.list5 li,ul.list6 li,ul.list7 li,ul.list8 li,ul.list9 li,ul.list10 li,ul.list11 li,ul.list12 li{
	padding-left: 18px;
	margin: 3px 0;
}
ul.list1 li {
	background:url(../images/elements/icon-heart.png) no-repeat left 5px;
}
ul.list2 li {
	background:url(../images/elements/icon-ok.png) no-repeat left 5px;
}
ul.list3 li {
	background:url(../images/elements/icon-right-arrow.png) no-repeat left 5px;
}
ul.list4 li {
	background:url(../images/elements/icon-star.png) no-repeat left 4px;
}
ul.list5 li {
	background:url(../images/elements/icon-chevron-right.png) no-repeat left 5px;
}
ul.list6 li {
	background:url(../images/elements/icon-chat.png) no-repeat left 5px;
}
ul.list7 li {
	background:url(../images/elements/icon-play-button.png) no-repeat left 5px;
}
ul.list8 li {
	background:url(../images/elements/icon-remove.png) no-repeat left 5px;
}
ul.list9 li {
	background:url(../images/elements/icon-cart.png) no-repeat left 5px;
}
ul.list10 li {
	background:url(../images/elements/icon-user.png) no-repeat left 4px;
}
ul.list11 li {
	background:url(../images/elements/icon-right-arrow.png) no-repeat left 1px;
}
ul.list12 li {
	background:url(../images/elements/icon-ok.png) no-repeat left 12px;
}


/* highlight colors */
.highlight {
	color: #fff;
	padding: 2px 5px;
	background: #000;
	border-radius:3px;
}
.highlight.black {
	background: #000;
	border-radius:3px;
}
.highlight.red {
	background: #ff0000;
	border-radius:3px;
}
.highlight.gray {
	background: #aaa;
}
.highlight.yellow {
	background: #fff000;
}
.highlight.blue {
	background: #0099cc;
}
.highlight.pink {
	background: #e826b4;
}
.highlight.green {
	background: #48b02b;
}
.highlight.orange {
	background: #ffcc00;
}
.highlight.magenta {
	background: #9325ea;
}


/* buttons */
.button, button {	
    text-decoration:none;
	text-align:center;
	color:#585656;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:32px;
	line-height:32px;
	padding:0px 15px;
	position:relative;
	outline: none;
	overflow: hidden; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #dcdcdc;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-transform: uppercase;

	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center top,
		center bottom,
		from(rgba(255, 255, 255, .1)),
		to(rgba(0, 0, 0, .1))
	);/* Saf4+, Chrome */
	
	background-color:white;
}

.button::-moz-focus-inner {
    border: none; /* overrides extra padding in Firefox */
}

.button:hover, .button.hover, .page-numbers:hover  {
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
}
.button:active, .button.active, .page-numbers:active {
	top:2px;
	background: -moz-linear-gradient(
		center top,
		rgba(0, 0, 0, .1) 0%,
		rgba(255, 255, 255, .2) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .2)),
		to(rgba(0, 0, 0, .1))
	);/* Saf4+, Chrome */

}

.button.full{
	display: block;
}

.button.small{
	font-size:13px;
}
.button.medium{
	font-size:13px;
	height:40px;
	line-height:40px;
}
.button.large{
	font-size:16px;
	height:50px;
	line-height:50px;
}
.button.small.colorchan{
	color: #fff;
	background-color: #ff8100;
}

/* styled buttons */
.button.red {
	background-color: #ff0000;
	color: #fff;
}
.button.blue {
	background-color: #117ed1;
	color: #fff;
}
.button.lightblue {
	background-color: #0099cc;
	color: #fff;
}
.button.green {
	background-color: #009933;
	color: #fff;
}
.button.black {
	background-color: #333;
	color: #fff;
}
.button.orange {
	background-color: #ff8100;
	color: #fff;
}
.button.darkgray {
	background-color: #818181;
	color: #fff;
}
.button.gray {
	background-color: #f0f0f0;
	color: #000;
}

/* tables */
.table-style {
	float: left;
	width: 100%;
}
.table-list {
	float: left;
	background-color: #fff;
	border: 1px solid #dddddd;
	margin-bottom:20px;
	width: 100%;
}
.table-list th {
	padding: 10px;
	background-color: #eee;
}
.table-list td {
	padding: 10px;
	text-align: center;
	background-color: #f5f5f5;
}
.table-list tr:hover td {
	background-color: #f9f9f9;
}


/* pricing tables */
.pricing-tables-main {
	position: relative;
	float: left;
	margin-bottom: 25px;
}
.pricing-tables {
	position: relative;
	float: left;
	width: 24%;
	border: 1px solid #eee;
}
.pricing-tables .title {
	float: left;
	width: 100%;
	height: 23px;
	padding: 12px 0 10px 0;
	background-color: #454545;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border-top: 3px solid #272727;
	border-bottom: 1px solid #818181;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.pricing-tables .price {
	float: left;
	width: 100%;
	padding: 30px 0 20px 0;
	background-color: #636363;
	text-align: center;
	font-size: 40px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
.pricing-tables .price i {
	font-size: 14px;
	color: #ccc;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 18px;
}
.pricing-tables .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables .cont-list li.last {
	border: none;
}
.pricing-tables .ordernow {
	float: left;
	width: 100%;
	padding: 15px 0;
	background-color: #e3e3e3;
	text-align: center;
	color: #fff;
}

.pricing-tables-helight{
	position: relative;
	float: left;
	width: 27%;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.pricing-tables-helight .title {
	float: left;
	width: 100%;
	height: 40px;
	padding: 20px 0 0 0;
	margin-top: -10px;
	background-color: #ff8100;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border-top: 3px solid #e87500;
	border-bottom: 1px solid #ffa600;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.pricing-tables-helight .price {
	float: left;
	width: 100%;
	padding: 34px 0 20px 0;
	background-color: #ff9900;
	text-align: center;
	font-size: 45px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
.pricing-tables-helight .price i {
	font-size: 14px;
	color: #eee;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 20px;
}
.pricing-tables-helight .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables-helight .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables-helight .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables-helight .cont-list li.last {
	border: none;
}
.pricing-tables-helight .ordernow {
	float: left;
	width: 100%;
	padding: 20px 0 25px 0;
	background-color: #eee;
	text-align: center;
	color: #fff;
}

.pricing-tables-two {
	position: relative;
	float: left;
	width: 33%;
	border: 1px solid #eee;
}
.pricing-tables-two .title {
	float: left;
	width: 100%;
	height: 27px;
	padding: 14px 0 10px 0;
	background-color: #454545;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border-top: 3px solid #272727;
	border-bottom: 1px solid #818181;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.pricing-tables-two .price {
	float: left;
	width: 100%;
	padding: 30px 0 20px 0;
	background-color: #636363;
	text-align: center;
	font-size: 40px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
.pricing-tables-two .price i {
	font-size: 14px;
	color: #ccc;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 20px;
}
.pricing-tables-two .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables-two .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables-two .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables-two .cont-list li.last {
	border: none;
}
.pricing-tables-two .ordernow {
	float: left;
	width: 100%;
	padding: 15px 0;
	background-color: #e3e3e3;
	text-align: center;
	color: #fff;
}

.pricing-tables-helight-two{
	position: relative;
	float: left;
	width: 33%;
	z-index: 3;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.pricing-tables-helight-two .title {
	float: left;
	width: 100%;
	height: 40px;
	padding: 20px 0 0 0;
	margin-top: -10px;
	background-color: #ff8100;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border-top: 3px solid #e87500;
	border-bottom: 1px solid #ffa600;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.pricing-tables-helight-two .price {
	float: left;
	width: 100%;
	padding: 35px 0 20px 0;
	background-color: #ff9900;
	text-align: center;
	font-size: 45px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
.pricing-tables-helight-two .price i {
	font-size: 14px;
	color: #eee;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 25px;
}
.pricing-tables-helight-two .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables-helight-two .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables-helight-two .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables-helight-two .cont-list li.last {
	border: none;
}
.pricing-tables-helight-two .ordernow {
	float: left;
	width: 100%;
	padding: 20px 0 25px 0;
	background-color: #eee;
	text-align: center;
	color: #fff;
}

/* columns with box */
.framed-box {
	border: 1px solid #e3e3e3;
	width: 100%;
}
.framed-box.center{
	text-align:center;
}
.framed-box-wrap {
	border: 1px solid #fff;
	background-color: #f9f9f9;
}
.framed-box-wrap .pricing-title {
	background-color: #f1f1f1;
	padding: 20px 0px 0px 0px;
	text-align: center;
	border-bottom: 1px solid #fff;
}
.framed-box-wrap .pricing-text-list {
	padding: 15px 20px 20px 20px;
	text-align: center;
}


/*------------------*/
/*	GLOBAL USE
/*------------------------------------------------------*/
.big_text1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 20px;
    line-height: 30px;
	color: #999;
}
.big_text1 i {
	color: #ff8100;
	font-style: normal;
}

ul.fullimage_box {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 48%;
}
.fullimage_box li {
	padding: 0px;
	margin: 0px;
}
.fullimage_box li img {
	margin-bottom: 8px;
	width: 100%;
}
.fullimage_box li img:hover {
}
ul.fullimage_box.last {
	float: left;
	width: 48%;
	margin-left: 4%;
}

ul.fullimage_box2 {
	float: left;
	padding: 20px 20px;
	margin: 0px;
	width: 86.6%;
	border: 1px solid #eee;
	border-radius: 4px;
}
.fullimage_box2 li {
	padding: 0px;
	margin: 0px;
	text-align: center;
}
.fullimage_box2 li img {
	margin-bottom: 8px;
}
ul.fullimage_box2.last {
	float: left;
	width: 100%;
	margin-left: 4%;
}

ul.arrows_list1 {
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.arrows_list1 li {
	margin: 0px;
	padding: 0px 0px 7px 12px;
	list-style-type: none;
	color: #999;
	background: url(../images/arrow-01.png) no-repeat left 9px;
}
.arrows_list1 li a {
	color: #999;
}
.arrows_list1 li a:hover {
	color: #727272;
}

ul.list_empty {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.list_empty li {
	float: left;
	padding: 0px;
	margin: 0px 20px 35px 0px;
}

ul.list_doted02 {
	float: left;
	margin: 13px 0px 0px 0px;
	padding: 0px;
}
.list_doted02 li {
	margin: 0px 0px 13px 0px;
	padding: 0px 0px 0px 20px;
	background: url(../images/elements/icon-right-arrow.png) no-repeat left 2px;
}
.list_doted02 li h5 {
	margin-bottom: 2px;
	padding-bottom: 8px;
	border-bottom: 1px solid #cacaca;
}
.big_text2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 37px;
	line-height: 45px;
	color: #ffffff;
    text-align: center;
}
.big_text2 i {
	color: #ff8100;
	font-style: normal;
}

/* testimonials */
.testimonials-5 {
	float: left;
}
.testimonials-5 span {
	float: left;
	line-height: 21px;
	margin-top: 15px;
	padding-left: 40px;
	background: url(../images/quote_subfix.gif) no-repeat left top;
}

.testimonials-4 {
	float: left;
}
.testimonials-4 .left{
	float: left;
	width: 50px;
	margin: 5px 20px 5px 0;
}
.testimonials-4 span {
	float: left;
	height: 34px;
	width: 100%;
	padding: 0px;
	background: url(../images/testi-top-arrow.png) no-repeat 100px 5px;
	position: relative;
	z-index: 999;
	margin-bottom: -1px;
	margin-top: -15px;
}
.testimonials-4 .content {
	float: left;
	line-height: 21px;
	padding: 20px 20px 25px 20px;
	border: 1px solid #eee;
	background-color: #f9f9f9;
	border-radius: 5px;
}
.testimonials-4 .content i {
	font-size: 11px;
	color: #909090;
	text-transform: none;
}

.testimonials-2 {
	float: left;
}
.testimonials-2 span {
	float: left;
	line-height: 21px;
	padding: 20px 30px 20px 50px;
	border: 1px solid #eee;
	background: #f9f9f9 url(../images/quote_subfix.gif) no-repeat 15px 23px;
}

.testimonials-9 {
	float: left;
	width: 100%;
}
.testimonials-9 .contarea {
	float: left;
	width: 90%;
	padding: 20px 20px 35px 20px;
	background-color: #fcfcfc;
	border: 1px solid #eee;
	position: relative;
	z-index: 1;
}
.testimonials-9 .downarrow {
	float: left;
	width: 100%;
	height: 27px;
	margin-top: -1px;
	background: url(../images/testi-down-arrow.png) no-repeat 40px top;
	position: relative;
	z-index: 2;
}
.testimonials-9 .client_img {
	float: left;
	width: 100%;
	height: 50px;
}
.testimonials-9 .client_img img {
	float: left;
	margin-left: 70px;
	margin-right: 13px;
}

/* section 1 */
ul.lirc_section {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.lirc_section li {
	float: left;
	padding: 0px;
	margin: 0px;
}
.lirc_section li.left {
	float: left;
	padding: 0px;
	margin: 0 8% 0 0;
	width: 90px;
	height: 90px;
	line-height: 110px;
	text-align: center;
	vertical-align: middle;
	background-color: #eee;
	border-radius: 100%;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
}
.lirc_section li.right {
	float: left;
	padding: 0px;
	margin: 0;
	width: 60.7%;
}
.lirc_section li.left.two {
	padding: 0px;
	margin: 0 0 0 35%;
	width: 65px;
	height: 65px;
	line-height: 75px;
	text-align: center;
	vertical-align: middle;
	background-color: #eee;
	border-radius: 100%;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
}
.lirc_section li.right.two {
	float: left;
	padding: 0px;
	margin: 0;
	width: 100%;
	text-align: center;
}
.lirc_section li.right.two h3 {
	margin-top: 20px;
}

/* section 2 */
ul.lirt_section {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.lirt_section li.left {
	float: left;
	padding: 0px;
	margin: 0 25px 0 0;
	width: 65px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	vertical-align: middle;
	background-color: #eee;
	border-radius: 100%;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  font-size: 22px;
}
.lirt_section li strong {
	font-weight: 600;
	font-size: 14px;
	color: #454545;
	display: block;
	margin: 8px 0 0 0;
}
.lirt_section li i {
	font-style: normal;
}

/* punchline text */

.punchline_text_home {
	float: left;
	width: 100%;
	background: #303394;
}
.punchline_text_home h2 {
	float: left;
	padding: 27px 0px;
	margin: 0px 0px 0px 50px;
	width: 75%;
	color: #fff;
	line-height: 22px;
	font-weight: normal;
}
.punchline_text_home h2 i {
	float: left;
	padding: 0px;
	margin: 0px;
	color: #fff;
	font-size: 13px;
	text-transform: none;
}
.punchline_text_home strong {
	float: left;
	padding: 27px 0px;
	margin: 16px 0px 0px 0px;
	width: 20%;
	background: url(../images/arrow-right-big.png) no-repeat left top;
}
.punchline_text_home .morebut {
	float: left;
	padding: 0px;
	margin: -5px 0px 0px 25px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
}
.punchline_text_home .morebut:hover {
	color: #000;
}

.punchline_text_box {
	float: left;
	width: 95.400%;
	padding: 20px;
	margin: 0px;
	border: 1px solid #eee;
	border-left: 5px solid #ff8100;
	color: #999;
	background: #f9f9f9;
}
.punchline_text_box strong {
	font-size: 15px;
	color: #454545;
}

.punchline_text_box .left {
	float: left;
	width: 80%;
}
.punchline_text_box .right {
	float: left;
	width: 20%;
}
.download_profile {
	float: middle;
	padding: 13px 20px 13px 20px;
	margin: 0px 0px 0px 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	color: #fff;
	font-weight: 600;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #2f2e94;
	
}
a.knowmore_but {
	float: right;
	padding: 13px 20px 13px 20px;
	margin: 0px 0px 0px 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	background-color: #ff8100;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-bottom: 1px solid #cc7a00;
}
a.knowmore_but:hover {
	background-color: #ff9900;
}

a.but_rightarrow {
	padding: 0px 11px 0px 0px;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: #ff8100;
	text-transform: uppercase;
	background: url(../images/arrow-2.png) no-repeat right 5px;
}
a.but_rightarrow:hover {
	color: #333;
	background: url(../images/arrow-3.png) no-repeat right 5px;
}

.multy_hlines {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	height: 7px;
	background: url(../images/h-multy-lines2.jpg) repeat-x left top;
}


.box_widget_full {
	float: left;
	width: 96%;
	padding: 2%;
	margin: 0px;
	background-color: #fbfbfb;
	border: 1px solid #eee;
	border-bottom: 2px solid #eee;
}
.error_pagenotfound {
	border-color:#000;

	width:80%;
}

.form{

	padding: 25px;
    width: 350px;
    border: 2px solid #000000 !important;
    background: #838bea  none !important;
    border-radius: 0px !important;
    box-sizing: border-box !important;

}

.form label{

	color: #fff;
	font-size: 16px;
	margin-bottom: 5px;
}

.form input{

	width: 100%;
    font-size: 13px;
    padding: 7px 10px;
    height: auto;
    font-family: Arial;
    border-radius: 0px;
    border: 1px solid #000000 !important;
    color: #000000 !important;
    background-color: #FFFFFF !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: left;
    margin-bottom: 15px;

}

.form select{

	width: 100%;
    font-size: 16px;
    padding: 7px 10px;
    height: auto;
    font-family: Arial;
    border-radius: 0px;
    border: 1px solid #000000 !important;
    color: #000000 !important;
    background-color: #FFFFFF !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: left;
    margin-bottom: 15px;


}

.form button{

	border: none !important;
    cursor: pointer !important;
    width: 100% !important;
    border-radius: 0px !important;
    height: 40px !important;
    background-color: #34318c !important;
    color: #FFFFFF !important;
    font-family: 'Arial', sans-serif !important;
    font-size: 16px !important;
    text-align: center !important;
    padding: 0 !important;

}
