a:hover, a:focus {
	color: #0a70e3;
}

#logo h1 i {
	color: #0a70e3;
	background: url(../../images/colors/blue/logo-icon.png) no-repeat center 9px;
}

#access .menu ul li a.active, #access .menu ul li a.active:hover {
	color: #60c3f7;
}
#access .menu ul li a:hover {
	color: #60c3f7;
}
#access .menu ul li ul li a:hover,
#access .menu ul li ul li.active a,
#access .menu ul li ul li a.selected {
	background: #60c3f7 url(../images/spacer.gif) no-repeat center bottom;
	color: #fff;
}

.button_slider_02 {
	background: #60c3f7 url(../../images/arrow-9-2.png) no-repeat right 15px;
	border-bottom: 5px solid #0163d3;
}

.site_boxedfeatures:hover {
	border-top: 1px solid #0a70e3;
}
.site_boxedfeatures:hover .icon_area1 {
	background: #0a70e3 url(../../images/site-icon1-hover.png) no-repeat center 20px;
}
.site_boxedfeatures:hover .icon_area2 {
	background: #0a70e3 url(../../images/site-icon2-hover.png) no-repeat center 20px;
}
.site_boxedfeatures:hover .icon_area3 {
	background: #0a70e3 url(../../images/site-icon3-hover.png) no-repeat center 20px;
}
.site_boxedfeatures:hover .icon_area4 {
	background: #0a70e3 url(../../images/site-icon4-hover.png) no-repeat center 20px;
}

.get_features .get_features_list li.left {
	background-color: #60c3f7;
}

.item .caption {
	border: 10px solid #0a70e3;
}
.item .caption a {
	color:#0a70e3;
}
.item .caption p i {
	color: #0a70e3;
}

.share_icons li.like {
	background: url(../../images/colors/blue/share-icon4.png) no-repeat center top;
}

.bottom_hilight {
	/*background: #0a70e3 url(../../images/colors/blue/bottom-bg.jpg) no-repeat center top;*/
}

.punchline_text_box {
	border-left: 5px solid #0a70e3;
}

a.knowmore_but {
	color: #fff;
	background-color: #0a70e3;
}
a.knowmore_but:hover {
	background-color: #187ef2;
}
a.but_goback {
	background: #0a70e3 url(../../images/arrow_left.png) no-repeat 18px 13px;
}
a.but_goback:hover {
	color: #fff;
	background-color: #187ef2;
}
a.but_hand_right {
	background: #0a70e3 url(../../images/elements/hand_right.png) no-repeat 16px 12px;
}
a.but_hand_right:hover {
	color: #fff;
	background-color: #187ef2;
}

.accrodation .acc-trigger a { background: url(../../images/colors/blue/accordion-ico.png) no-repeat 20px 13px;}
.accrodation .acc-trigger a:hover { color: #0a70e3; border-bottom: 1px solid #fff;  }
.accrodation .acc-trigger.active a { color: #0a70e3; background-position: 20px -58px; cursor: default;	}
.accrodation_full .acc-trigger a { background: url(../../images/colors/blue/accordion-ico.png) no-repeat 20px 13px;}
.accrodation_full .acc-trigger a:hover { color: #0a70e3; border-bottom: 1px solid #fff;  }
.accrodation_full .acc-trigger.active a { color: #0a70e3; background-position: 20px -58px; cursor: default;	}
html .content_fullwidth ul.tabs li.active, html .content_fullwidth ul.tabs li.active a, html .content_fullwidth ul.tabs li.active a:hover  { 
	border-top: 2px solid #0a70e3;
}
.content_fullwidth html ul.tabs-two li.active, html .content_fullwidth ul.tabs-two li.active a,  html .content_fullwidth ul.tabs-two li.active a:hover  { 
	color:#0a70e3;
}
.sidebar_widget ul.tabs li.active, html .sidebar_widget ul.tabs li.active a,  html .sidebar_widget ul.tabs li.active a:hover  {
		border-top: 1px solid #0a70e3;
}

.page_title {
	background-color: #60c3f7;
}

.big_text1 i {
	color: #0a70e3;
	font-style: normal;
}
blockquote {
	border-left: 5px solid #0a70e3;
}

.nivo-caption {
	border-left: 5px solid #0a70e3;
}

.list_doted02 li {
	/*background: url(../../images/colors/blue/dot.png) no-repeat left 9px;*/
}

.blog_post a.date strong {
	color: #0a70e3;
}
.blog_post a.date i {
	background-color: #0a70e3;
}
.blog_post h3 a:hover {
	color: #0a70e3;
}

#site-searchform #searchsubmit{
	background: #0a70e3 url(../../images/site-search-icon.png) no-repeat center 9px;
}

.sidebar_widget h3, .clientsays_widget h3 {
	border-bottom: 1px solid #0a70e3;
}

.sidebar_widget ul.arrows_list1 li a:hover {
	color: #0a70e3;
}

.recent_posts_list li a:hover {
	color: #0a70e3;
}

.tags li a:hover {
	background-color: #0a70e3;
	color: #fff;
}

.address-info a {
	color: #0a70e3;
}

.about_author a:hover {
	color: #0a70e3;
}

.pricing-tables-helight .title {
	background-color: #0969d8;
	border-top: 3px solid #0863cc;
	border-bottom: 1px solid #0b77ec;
}
.pricing-tables-helight .price {
	background-color: #0a70e3;
}
.button.small.colorchan{
	color: #fff;
	background-color: #0a70e3;
}
.pricing-tables-helight-two .title {
	background-color: #0969d8;
	border-top: 3px solid #0863cc;
	border-bottom: 1px solid #0b77ec;
}
.pricing-tables-helight-two .price {
	background-color: #0a70e3;
}

.slidingDiv{
	background: #0a70e3;
}
.top-border-line {
	background: #0a70e3;
}
.tci_list li a {
	background-color: #3b8de9;
}
a.show_hide{
	background: url(../../images/colors/blue/top-site-show.png) no-repeat center top;
}
.punchline_text_home {
	background: #1E97B5;
}
a.but_rightarrow {
	color: #0a70e3;
	background: url(../../images/colors/blue/arrow-2.png) no-repeat right 5px;
}
a.but_rightarrow:hover {
	color: #333;
}