/*-----------------------------------------------------------------------------

REVOLUTION RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	26/06/12
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/


  /*********************************************************************************************
		-	SET THE SCREEN SIZES FOR THE BANNER IF YOU WISH TO MAKE THE BANNER RESOPONSIVE 	-
  **********************************************************************************************/

  /*	-	THE BANNER CONTAINER (Padding, Shadow, Border etc. )	-	*/


	 .fullwidthbanner-container{
		width:100% !important;
		position:relative;
		padding:0;
		margin-top: 0px;
		max-height: 560px !important;
		overflow:hidden;
		z-index: 998;
	}


@media only screen and (min-width: 1000px){}
@media only screen and (min-width: 768px) and (max-width: 999px){

	 .fullwidthbanner-container{
		width:100% !important;
		position:relative;
		padding:0;
		margin-top: 0px;
		max-height: 430px; !important;
		overflow:hidden;
		z-index: 998;
	}

}




@media only screen and (min-width: 479px) and (max-width: 767px){

	 .fullwidthbanner-container{
		width:100% !important;
		position:relative;
		padding:0;
		margin-top: 0px;
		max-height:270px !important;
		overflow:hidden;
	}
}



@media only screen and (max-width: 479px){


	 .fullwidthbanner-container{
		width:100% !important;
		position:relative;
		padding:0;
		margin-top: 0px;
		max-height:170px !important;
		overflow:hidden;
	}


}